<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenls.smartshoepad">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Timetodo">
        <activity
            android:name=".welcome.PageViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.WelcomeActivity" />
        <activity
            android:name=".main.DeviceListActivity"
            android:theme="@style/DialogLight" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_welcome" />

        <service
            android:name=".main.UartService"
            android:enabled="true" />

        <activity
            android:name=".main.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/DialogLight" />
        <activity
            android:name=".setting.Choose"
            android:label="@string/title_activity_choose"
            android:theme="@style/DialogLight" />
        <activity
            android:name=".setting.Input"
            android:label="@string/title_activity_input"
            android:theme="@style/DialogLight" />
        <activity
            android:name=".main.AboutSLActivity"
            android:label="@string/title_activity_about_sl"
            android:theme="@style/DialogLight" />

        <activity
            android:name=".welcome.SetActivity"
            android:label="@string/title_activity_set"
            android:theme="@style/DialogLight"></activity>
    </application>

</manifest>
